@use "@shared/styles/tokens";

.linkDownload {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: tokens.$text-secondary-light;
  cursor: pointer;
  background: none;
  border: 1px solid tokens.$text-secondary-light;
  font-weight: 500;
  font-size: 14rem;
  transition: 0.2s ease;
  padding: 8rem 16rem;
  border-radius: 4rem;
  text-decoration: none;

  &:hover {
    color: tokens.$white;
    border-color: tokens.$orange;
    background: tokens.$orange;
    transition: 0.2s ease;
  }
}
