$brand-color: #333333;
$white: #ffffff;
$orange: #e7682a;
$orange-hover: #ec8858;
$text-primary: #121214;
$text-primary-light: #2d2d31;
$text-secondary-dark: #3b3b40;
$text-secondary: #646468;
$text-secondary-light: #87878c;
$text-secondary-light-hover: #a1a1a5;

// Bg
$bg-secondary: #f0f0f5;

// Borders
$border-section: #f0f0f5;
$border-row: #f4f4f4;

// Rows
$row-header: rgba(240, 240, 245, 0.5);
